{
  "plugins": [
    ["module-alias",[
      { "src": "./config", "expose": "config" },
      { "src": "./src", "expose": "src" }
    ]],
    "add-module-exports"
  ],
  "presets": [
    "es2015",
    "stage-3"
  ]
}
